/* // @import "common/var"; */

:local(.SignIn) {
    position: relative;
    width: 1152px;
    // min-height: 700px;
    height: 100vh;
    background: #FFFFFF;

    .Image {
        position: absolute;
        width: 521px;
        height: 100%;
        left: 0px;
        top: 0px;
        background: url(../../images/photo-1563132337-f159f484226c.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .Overlay {
            position: absolute;
            width: 521px;
            height: 100%;
            left: 0px;
            top: 0px;
            background: linear-gradient(180deg, rgba(111, 111, 172, 0) 0%, #474666 100%);

            h2 {
                position: absolute;
                width: 230px;
                height: 100px;
                left: 72px;
                top: 340px;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 43px;
                line-height: 50px;
                color: #FFFFFF;
            }

            h3 {
                position: absolute;
                width: 270px;
                height: 30px;
                left: 72px;
                top: 450px;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: normal;
                font-size: 29px;
                line-height: 30px;
                color: #EFEFEF;
            }
        }
    }

    .Credentials {}

    h2 {
        position: absolute;
        width: 118px;
        height: 38px;
        left: 777px;
        top: 173px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 38px;
        color: #000000;
    }

    h3 {
        position: absolute;
        width: 213px;
        height: 25px;
        left: 730px;
        top: 222px;
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 25px;
        color: #000000;
    }

    input {
        position: absolute;
        height: 50px;
        width: 350px;
        background: #FCFCFC;
        border: 1px solid rgba(52, 52, 52, 0.24);
        box-sizing: border-box;
        border-radius: 3px;
        left: 674px;
    }

    input[type=email] {
        right: 153px;
        top: 288px;
    }

    input[type=password] {
        right: 153px;
        top: 361px;
    }

    
}